.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    &__title {
        width: 100%;
        letter-spacing: 3px;
        line-height: 30px;
        text-align: center;
        font-weight: 600;
        color: #673AB7;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    &__button {
        display: flex;
        padding: 15px;
    }
}

.disabled {
    background-color: #808080;
    opacity: 0.6;
}
