<div class="container">
    <p class="container__title">Let's enjoy a coffee together!</p>
    <app-cup-size [control]="coffeeForm.controls['size']"></app-cup-size>
    <app-coffee-type [control]="coffeeForm.controls['type']"></app-coffee-type>
    <app-toppings [control]="coffeeForm.controls['toppings']"></app-toppings>
    <button mat-raised-button color="primary" class="container__button" (click)="orderCoffee()">
      Order Coffee!
      <mat-icon>sentiment_very_satisfied</mat-icon>
    </button>
</div>
