// @import 'variables';
.container {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
        letter-spacing: 8px;
        line-height: 30px;
        text-align: center;
        font-size: 24px;
        font-weight: 600;
        color: white;
        background-color: #673AB7;
    }
    &__button {
        margin-top: 50px;
        padding: 10px;
        min-width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        letter-spacing: 4px;
        font-size: 18px;
        font-weight: 600;
        background-color: #3a1775;
    }
}
